<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if/v-show</title>
</head>
<script src="vue.js"></script>
<body>
    <div id="app">
        <button @click="num = Math.random()">随机数</button>{{num}}
        <h1 v-if="num>0.5">展示</h1>
        <h1 v-else>看到了哈哈哈哈</h1><!--v-if和v-else必须是连贯的 不能有其他指令,否则就会被终止-->
        <button @click="show=!show">切换</button>
        <h1 v-if="show">看到了v-if</h1>
        <h1 v-show="!show">看到了v-show</h1>
    </div>
</body>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            show:true,
            num:0
        }

    })
</script>
</html>